:root {
    --main-bg-color: #2C2727;
    --main-text-color: #D9D9D9;
    --second-text-color: #2F0EF5;
    --second-bg-color: #FF9900;
}

body::before {
    display: block;
    content: '';
    height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    margin-right: 60px;
}
.btn:hover{
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    width: 6rem;
}

.navbarHeight {
    background-color: var(--main-text-color);
}

.btn {
    background-color: var(--second-bg-color);
    width: 6rem;

}

.btn2 {
    background-color: var(--second-bg-color);
    width: 15rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 20px;
    color: var(--main-bg-color);
}

.builders {
    color: var(--second-bg-color);
}

.head {
    background-color: var(--main-bg-color);

}

.nav-link {
    color: var(--main-bg-color);
}

.nav-link:hover {
    color: var(--second-bg-color);
    font-weight: bold;
}

.img-fluid {
    padding-bottom: 3rem;
    margin-top: 5rem;
    margin-right: 3rem;
    padding-top: 22px;
}

.cursor {
    cursor: pointer;
}

#chat3 .form-control {
    border-color: transparent;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}