:root {
    --main-bg-color: #FF9900;
    --main-text-color: #2C2727;
    --second-text-color: #2C2727;
    --second-bg-color: #FF9900;
}
.head{
    background-color: var(--main-text-color);
}
.nav-link:hover{
    font-weight: bold;
    color: white;
}
.btnEdit{
    background-color: var(--main-bg-color);
}
.btnEdit:hover{
    background-color: white;
    color: var(--main-bg-color);
}
.breadcrumb-item{
    color: var(--main-bg-color);
}
.btnMessage{
    background-color: var(--main-bg-color);
}
.btnMessage:hover{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

/* modal */
.modal{
    padding-top: 50px;
    padding-right: 25px;
}
.myform{
    padding: 2em;
    max-width: 100%;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.modal-body{
    padding: 0px;
}
.btn-close{
    position: absolute;
    right: 0;
    padding: 10px;
}
.modal-content{
    width: 90%;
    margin: 0px auto;
}
.reg{
    font-size: 2.3em;
    font-weight: bold;
    padding: 0;
}
.btn3{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}
.btn-form{
    margin-inline-start: 13.7rem;
}